# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/


# System files
.DS_Store
Thumbs.db

# Logs
*.log

# pip
pip-log.txt
pip-delete-this-directory.txt

# Coverage and testing
htmlcov/
.coverage
.tox/
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/