<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style1.css">
    <script src="/static/player.js"></script>

    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <img src="../static/LogoOnlyWhite.png" class="img"></img>
                <p class="title">AudioSphere</p>
            </div>

        <div class="menu">
            <p>Menu</p>
            <div class="menu-items">
                <div class="menu-item-sep">
                    <i class="fa-solid fa-house"></i>
                    <a class="menu-button1" href="{{ url_for('index') }}">Home</a>
                </div>
                <div class="menu-item-sep">
                    <i class="fa-solid fa-user-large"></i>
                    <a class="menu-button1" href="{{ url_for('artists') }}">Artist</a>
                </div>
                <div class="menu-item-sep">
                    <i class="fa-solid fa-envelope"></i>
                    <a class="menu-button1" href="{{ url_for('comingsoon') }}">Message</a>
                </div>
                <div class="menu-item-sep">
                    <i class="fa-solid fa-grip"></i>
                    <a class="menu-button1" href="{{ url_for('genres') }}">Genre</a>
                </div>
                <div class="menu-item-sep">
                    <i class="fa-solid fa-user-plus"></i>
                    <a class="menu-button1" href="{{ url_for('signup') }}">SignUp</a>
                </div>
                    <div class="menu-item-sep">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <a class="menu-button1" href="{{ url_for('signin') }}">SignIn</a>
                </div>
                <div class="menu-item-sep">
                  <i class="fa-solid fa-user"></i>
                  <a class="menu-button1" href="{{ url_for('profile', username=username, email=email) }}">Profile</a>
                 </div>
            </div>
        </div>
        </div>
        </div>
        <div class="content">
            <div class="search-login">
                <div class="search">
                    <form action="{{ url_for('search') }}" method="POST">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="artist" class="search-input" placeholder="Search songs,artist,albums ">
                    </form>
                </div>
            </div>
            <p class="recommend">Top Artists</p>
<div class="songs">
    <a href="{{ url_for('song', artist_name='AR Rahman') }}" class="song-link">
        <div class="song-box">
            <img src="../static/arrahman.jpg" class="song-photo">
            <p class="song-name">AR Rahman</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Anirudh') }}" class="song-link">
        <div class="song-box">
            <img src="../static/anirudh.jpg" class="song-photo">
            <p class="song-name">Anirudh</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Arijit Singh') }}" class="song-link">
        <div class="song-box">
            <img src="../static/arjit.jpg" class="song-photo">
            <p class="song-name">Arijit Singh</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Chitra') }}" class="song-link">
        <div class="song-box">
            <img src="../static/chitra.jpg" class="song-photo">
            <p class="song-name">Chitra</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Devi Sri Prasad') }}" class="song-link">
        <div class="song-box">
            <img src="../static/dsp.jpg" class="song-photo">
            <p class="song-name">Devi Sri Prasad</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='G.v.Prakash') }}" class="song-link">
        <div class="song-box">
            <img src="../static/G V Prakash.jpeg" class="song-photo">
            <p class="song-name">G V Prakash</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Hari Haran') }}" class="song-link">
        <div class="song-box">
            <img src="../static/hariharan.jpg" class="song-photo">
            <p class="song-name">Hariharan</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='HemaChandra vedala') }}" class="song-link">
        <div class="song-box">
            <img src="../static/hemac.jpg" class="song-photo">
            <p class="song-name">Hema Chandra</p>
        </div>
    </a>
        </a>
        <a href="{{ url_for('song', artist_name='IIaiyaraaja') }}" class="song-link">
        <div class="song-box">
            <img src="../static/IIaiyaraaja.jpg" class="song-photo">
            <p class="song-name">IIaiyaraaja</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='KK') }}" class="song-link">
        <div class="song-box">
            <img src="../static/kk.jpg" class="song-photo">
            <p class="song-name">KK</p>
        </div>
    </a>
        </a>
        <a href="{{ url_for('song', artist_name='Mani Sharma') }}" class="song-link">
        <div class="song-box">
            <img src="../static/Mani Sharma.jpg" class="song-photo">
            <p class="song-name">Main Sharma</p>
        </div>
    </a>

    <a href="{{ url_for('song', artist_name='Santhosh Narayanan') }}" class="song-link">
        <div class="song-box">
            <img src="../static/Santhosh Narayanan.jpg" class="song-photo">
            <p class="song-name">Santhosh Narayanan</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Shreya Ghoshal') }}" class="song-link">
        <div class="song-box">
            <img src="../static/shreya.jpg" class="song-photo">
            <p class="song-name">Shreya Ghoshal</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='Sid Sriram') }}" class="song-link">
        <div class="song-box">
            <img src="../static/sid.jpg" class="song-photo">
            <p class="song-name">Sid Sriram</p>
        </div>
    </a>
    <a href="{{ url_for('song', artist_name='S.P.Balasubrahmanyam') }}" class="song-link">
        <div class="song-box">
            <img src="../static/spb.jpg" class="song-photo">
            <p class="song-name">SP Balu</p>
        </div>
    </a>
        <a href="{{ url_for('song', artist_name='Thaman S') }}" class="song-link">
        <div class="song-box">
            <img src="../static/Thaman S.jpg" class="song-photo">
            <p class="song-name">Thaman S</p>
        </div>
    </a>
        </a>
        <a href="{{ url_for('song', artist_name='The Weeknd') }}" class="song-link">
        <div class="song-box">
            <img src="../static/The Weeknd.jpg" class="song-photo">
            <p class="song-name">The Weeknd</p>
        </div>
    </a>
            </a>
        <a href="{{ url_for('song', artist_name='Yuvan Shankar Raja') }}" class="song-link">
        <div class="song-box">
            <img src="../static/yuvan Shankar Raja.jpg" class="song-photo">
            <p class="song-name">Yuvan Shakar Raja</p>
        </div>
    </a>

</div>

            <hr>
             <div class="creators">
            <p>Created By</p>
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/abhilashmellacheruvu/">Abhilash Mellacheruvu</a> |
                <a target="_blank" href="https://www.linkedin.com/in/siddartha-kallampalli-a8982a2a3">Siddartha Kallampalli</a>
            </div>
        </div>
        </div>
        <div class="player">
            <img id="song-photo" class="song-photo-player" src="{{ url_for('static', filename='default_cover.jpg') }}" alt="Cover Art" />
            <div class="info-audio">
                <div id="song-info" class="player-info">
                    <p id="song-name" class="song-name-player">Select a song</p>
                    <p id="artist-name" class="artist-name-player">Artist Name</p>
                </div>
                <div class="audio-player">
                      <audio id="audioPlayer" controls></audio>
                </div>
            </div>
        </div>
            <script>
                function playSong(url,name,artist,photo) {
                var audioPlayer = document.getElementById('myaudio');
                var songName = document.getElementById('song-name');
                var artistName = document.getElementById('artist-name');
                var songPhoto = document.getElementById('song-photo');

                audioPlayer.src = url;
                audioPlayer.play();

                songName.textContent = name;
                artistName.textContent = artist;
                songPhoto.src = photo;
                }
            </script>
    </body>
</html>